//Grid Layouts
.home__container {
    display: grid;
    grid-column-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 142px auto;
    background: url(../img/bg.jpg) no-repeat top center;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.news__grid--container {
    display: grid;
    grid-column-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 142px auto;
}
.service__container {
    display: grid;
    grid-column-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 142px auto;
}