//Headers
.home__container {
    & header {
        display: grid;
        grid-column: 1/7;
        grid-row: 1/3;
        background: darken( $purple, 10% );
        opacity: 0.9;
        align-items: center;
        padding: 0 4em;
        height: 100vh;
    }
}
.service__container {
    & header {
        grid-column: 1/13;
        grid-row: 1/3;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-gap: 1.5em;
        height: 100%;
    
        &.why {
            background-image: url('../img/purple-shade.png'), url('../img/why-bg.jpg');
            background-position: top left, top center;
            background-repeat: no-repeat, no-repeat;
            background-size: 50% 100%, cover;
        }

        &.what {
            background-image: url('../img/purple-shade.png'), url('../img/what-bg.jpg');
            background-position: top left, top center;
            background-repeat: no-repeat, no-repeat;
            background-size: 50% 100%, cover;
            min-height: 900px;

            & .intro {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;
                padding: 12em 4em 4em;

                & h1 {
                    font-size: 1.5em;
                    color: $lightblue;

                    & strong {
                        color: white;
                        font-size: 1.75em;
                    }
                }

                & h3 {
                    padding-bottom: 24px;

                    &::after {
                        display: none;
                    }
                }

                p {
                    font-size: 1.125em;
                    color: white;
                }
            }
        }

        &.how {
            background-image: url('../img/gold-shade.png'), url('../img/how-bg.jpg');
            background-position: top left, top center;
            background-repeat: no-repeat, no-repeat;
            background-size: 50% 100%, cover;

            & h1 {
                color: $lightblue;
            }
        }
    
        & .intro {
            height: auto;
            grid-column: 1/7;
            display: flex;
            align-items: center;
            padding: 0 4em;
            min-height: 640px;
        }

        &.contact {
            background-image: url('../img/purple-shade.png'), url('../img/contact-bg.jpg');
            background-position: top left, top center;
            background-repeat: no-repeat, no-repeat;
            background-size: 50% 100%, cover;
        }
    }
}

//Home Header Menu
.home__menu {
    grid-row: 1/3;
    grid-column: 8/12;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--item {
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-delay: 0.5s;

        & .menu__item {
            &--number {
            @include primary-font(700);
            color: white;
            font-size: 3em;
            }
            &--content {
                & h3 {
                    font-family: $headline-regular;
                    color: $gold;
                    letter-spacing: 1px;
                    font-size: 1.75em;
                    line-height: 1.214285714;
                    text-transform: uppercase;
                    margin: 16px 0px;
                }
                & a {
                    text-decoration: none;
                    color: $gold;
                }
                & p {
                    color: white;
                    font-size: 1em;
                    line-height: 1.375;
                }
            }
        }

        &:nth-child(2) {
            margin: 64px 0px;
            animation-delay: 2s;
            & h3 {
                color: $lightblue;
            }
        }

        &:nth-child(3) {
            animation-delay: 3s;
            & h3 {
                color: $orange;
            }
        }
    }
}

//Page Introductions
.page__introduction {
    width: 100%;
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 64px 64px;

    & .page__introduction--item {
        width: auto;
        max-width: 310px;
        margin-right: 1.5em;
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-delay: 1s;

        &:nth-child(2) {
            animation-delay: 2s;
        }
        &:nth-child(3) {
            animation-delay: 3s;
        }
        &:nth-child(4) {
            animation-delay: 4s;
        }
        &:last-of-type {
            margin-right: 0px;
        }

        & a {
            text-decoration: none;

            &:hover > .introduction__item--number {
                color: $gold;
            }

            &:hover > .introduction__item--content h3 {
                color: $lightblue;
            }
        }

        & .introduction__item--number {
            @include primary-font(700);
            color: white;
            font-size: 3em;

            & span {
                @include primary-font(300);
                font-size: 50%;
            }
        }

        & .introduction__item--content {

            & h3 {
                @include primary-font(700);
                color: white;
                font-size: 1.125em;
                text-transform: uppercase;
                margin: 12px 0px;

                &:after {
                    display: none;
                }
            }
            & p {
                color: white;
                font-size: 0.875em;
                line-height: 1.25;
            }
        }
    }
}

//Rows
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5em;
    grid-column: 1/13;
    grid-row: auto;
    border-bottom: 4px solid $gold;

    p:first-of-type {
        font-family: $headline-regular;
        font-size: 2.25em;
    }

    & .why-intro {
        grid-column: 2/10;
        padding: 96px 64px;
        align-self: center;
    }
    & .why-relationships {
        grid-column: 6/13;
        padding: 96px 64px;
        align-self: center;

        &-img {
            grid-column: 1/6;
            background: url('../img/why-relationships.jpg') no-repeat center;
            background-size: cover;
        }
    }
    & .why-thinking {
        grid-column: 1/7;
        padding: 64px;
        align-self: center;

        &-img {
            grid-column: 7/13;
            background: url('../img/why-thinking.jpg') no-repeat center;
            background-size: cover;
        }
    }
    & .why-csr {
        grid-column: 2/8;
        padding: 96px 64px;
        align-self: center;

        & p {
            color: white;
        }
    }

    &.csr {
        background: url('../img/csr-bg.jpg') no-repeat center;
        background-size: cover;
    }

    & .what-intro {
        grid-column: 4/12;
        padding: 96px 64px;
        align-self: center;
    }
    & .what-services {
        grid-column: 1/13;
        padding: 64px;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 1.5em;

        &-intro {
            grid-column: 1/8;
        }
    }
    & .what-services-items {
        padding-top: 32px;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1.5em;

        & .service-item {
            grid-column: auto/span 4;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            min-height: 350px;

            &.orange {
                background-image: linear-gradient(-90deg, #F2CA46 0%, #F5A623 85%);
            }
            &.green {
                background-image: linear-gradient(-90deg, #669F8C 0%, #568273 85%);
            }
            &.purple {
                background-image: linear-gradient(-90deg, #055F96 0%, #094970 85%);
            }
            &.gold {
                background-image: linear-gradient(-90deg, #D0B47D 0%, #BFA064 85%);
            }
            &.fountain-blue {
                background-image: linear-gradient(-90deg, #4EADB3 23%, #42969C 85%);
            }
            &.jellybean {
                background-image: linear-gradient(-90deg, #3581AF 0%, #2B6D95 85%);
            }
            &.blue-bayoux {
                background-image: linear-gradient(-90deg, #66808D 0%, #4B626D 85%);
            }

            & .service-content {
                padding: 24px 24px 0px;

                & h3 {
                    color: white;
                    font-size: 1.3125em;
                    line-height: 1.142857143;

                    &::after {
                        display: none;
                    }
                }

                & p {
                    @include primary-font(300);
                    color: white;
                    font-size: 1em;
                    line-height: 1.3125;
                }
            }

            & a.button {
                width: 100%;
            }
        }
    }
    &.casestudies {
        background: url('../img/casestudies-bg.jpg') no-repeat bottom center;
        background-size: cover;
    }
    & .what-casestudies {
        grid-column: 6/13;
        padding: 96px 64px;
        align-self: center;
        
        & p {
            color: white;
        }
    }

    & .how-onborading {
        grid-column: 4/12;
        align-self: center;
        padding: 96px 64px;
    }

    & .how-process {
        grid-column: 1/10;
        align-self: center;
        padding: 96px 64px;
    }

    & .how-charging {
        grid-column: 2/7;
        padding: 96px 64px;
        align-self: center;

        & h3 {
            color: $lightblue;
            font-size: 1.5em;

            & strong {
                line-break: strict;
                color: white;
                font-size: 1.75em;
            }
            &::after {
                display: none;
            }
        }

        & p {
            color: white;
        }
    }
    & .how-relationships {
        grid-column: 6/12;
        padding: 96px 0px;
        align-self: center;

        &-img {
            grid-column: 1/5;
            background: url('../img/how-relationships.jpg') no-repeat center;
            background-size: cover;
        }
    }

    &.charging {
        background: url('../img/charging-bg.jpg') no-repeat center;
        background-size: cover;

        & p:first-of-type {
            @include primary-font(300);
            font-size: 1em;
        }
    }

    &.lightgold {
        background: $lightgold-fade;
    }
    &.lightblue {
        background: $lightblue-fade;
    }
}

.awards-section {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5em;
    padding: 64px;

    &-intro {
        grid-column: 1/9;

        & p:first-of-type {
            font-family: $headline-regular;
            font-size: 2.25em;
        }
    }

    & .awards {
        grid-column: 1/13;
        padding: 32px 120px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        & .award {
            width: 30%;
            text-align: center;
            margin-bottom: 48px;

            &:nth-child(3n+2) {
                margin: 0 5%;
            }

            & h3 {
                font-family: $headline-regular;
                color: $gold;
                font-size: 1.125em;

                &:after {
                    display: none;
                }
            }
            & p {
                color: $purple;
                font-size: 1em;
                @include primary-font(400);
                margin: 8px 0px;

                &:last-of-type {
                    font-size: 1.3125em;
                    text-transform: uppercase;
                }
            }
        }
    }

    & .awards-logos {
        width: 80%;
        height: auto;
        margin: auto;
        grid-column: 2/12;

        & img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5em;
    border-top: 4px solid $gold;
    grid-column: 1/13;
    height: auto;
    background: url('../img/footer-bg.png') no-repeat center;
    background-size: cover;
    padding: 32px 0px 0px;

    & .logo {
        grid-column: 1/2;
        grid-row: 1/3;
        padding-left: 64px;

        & img {
            width: 120px;
            height: auto;
            display: block;
        }
    }

    & .social {
        grid-column: 6/13;
        justify-self: end;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding-right: 64px;

        & a {
            color: $orange;
            font-size: 1.5em;
            text-decoration: none;
        }

        & .sm-icons {
            margin-left: 48px;

            & a:nth-child(2) {
                margin: auto 24px;
            }
        }
    }

    & .disclaimer {
        grid-column: 6/13;
        padding-right: 64px;

        & p {
            color: $lightblue;
            font-size: 0.625em;
            line-height: 1.5;
            text-align: right;
        }
    }

    & .navigation {
        grid-column: 1/13;
        background: rgba(0,0,0,0.4);
        padding: 16px 64px;
        margin-top: 32px;

        & ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            & li {
                display: flex;
                align-items: center;

                &::after {
                    content: "\00B7";
                    margin: 0px 8px;
                    color: white;
                }

                &:last-child {
                    &::after {
                        content: '';
                    }
                }

                & a {
                    @include primary-font(300);
                    margin: 0px;
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 0.875em;
                    transition: color 0.125s linear;

                    &:hover {
                        color: $gold;
                    }
                }
            }
        }
    }
}