//Navigation
nav {
    grid-column: 1/13;
    grid-row: 1;
    z-index: 1000;
    padding: 32px 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .logo {
        grid-column: 1;
        
        & img {
            width: 120px;
            max-width: 120px;
            height: auto;
        }
    }
    .line-menu {
        grid-column: 12;

        & img {
            width: 50px;
            height: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

#navigation__container {
    grid-row-start: 1;
    width: 0;
    height: 100%;
    min-height: 100vh;
    background: url('../img/nav-bg.png') no-repeat top right;
    background-size: cover;
    border-left: 4px solid $lightblue;
    z-index: 2000;
    overflow: hidden;
    right: -100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    &.selected {
        width: 300px;
        right: 0%;
        animation: slideInRight 0.25s linear forwards;
        position: fixed;
    }

    & .close__menu {
        @include primary-font(300);
        text-transform: uppercase;
        color: white;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px;
        border-bottom: 1px solid $lightblue;
        transition: all 0.25s ease-in-out;

        &:hover {
            color: $gold;
            cursor: pointer;

            & img {
                animation: arrow 0.75s linear infinite;
            }
        }
    }

    & ul {

        & li {
            border-bottom: 1px solid $lightblue;
            text-align: right;
            font-size: 1.125em;
            display: block;
            background: transparent;

            & a {
                @include primary-font(300);
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                transition: background 0.25s ease-in-out, color 0.3s ease-in;
                display: block;
                padding: 20px 32px;

                &:hover {
                    color: $gold;
                    background: $lightblue-fade;
                    font-weight: 400;
                }
            }
        }
    }

    & .phone {
        font-size: 1.5em;
        @include primary-font(400);
        padding: 32px;
        text-align: right;

        & a {
            color: $lightblue;
            text-decoration: none;
        }
    }
}